.DS_Store
.python-version
.env
.pyproject.toml
uv.lock
model.tar

data/
saved_models/
.venv/
__pycache__/
sms_spam_collection/
sms_spam_collection.zip
gpt2/
runs/
.pycache/
pyproject.toml

*.pth
*.csv

*.png
*.pdf

WARP.md
